<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mundo Ghibli</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon" />
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/style.css')}}"
  />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>

  <body>
    <header>
        <nav class="navbar z-2 navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <img class="logo" src="{{url_for('static', filename='images/totoro.png')}}" alt="Mundo Ghibli" />
              <a class="navbar-brand" href="{{url_for('home')}}">Mundo Ghibli</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %} " aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'movies' %}active{% endif %}" href="{{url_for('movies')}}">Filmes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'favoritos' %}active{% endif %}" href="{{url_for('favoritos')}}">favoritos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'cadfavoritos' %}active{% endif %}" href="{{url_for('cadfavoritos')}}">Cadastrar Favoritos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>    </header>
    <main>{% block content %} 
        <!-- conteudo da pagina -->
        {% endblock content%}</main>
    <footer>
      <a href="https://github.com/DanielMandira" target="_blank" rel="noopener noreferrer"><img class="footer-img" src="{{url_for('static', filename='images/github.webp')}}" alt="Github" /></a>
      <div class="footer-container">
        <p>Atividade LDW DSM4 - FATEC REGISTRO</p>
        <p>Desenvolvido por <strong>Daniel Mandira</strong></p>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
