{%extends 'base.html'%}
{%block content%}

<div
  id="carouselIndicators"
  class="carousel carousel-fade slide"
  data-bs-ride="carousel"
  data-bs-interval="3000"
  data-bs-pause="false"
>
  <div class="carousel-indicators">
    {% for movie in moviesjson[3:6] %}
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="{{loop.index0}}"
      class="{% if loop.first %}active{%endif%}"
      aria-label="Slide {{loop.index}}"
    ></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for movie in moviesjson[3:6] %}
    <div class="carousel-item {% if loop.first %}active{%endif%}">
      <img
        src="{{movie.movie_banner}}"
        class="d-block image-carousel"
        alt="{{movie.title}}"
      />
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-favoritos">
  <h2>Sua lista de favoritos</h2>
  <hr />
  <div class="favoritos">
    {%for favorito in favs%}
    <div class="card">
      <img
        src="{{favorito.movie_banner}}"
        class="card-img-top"
        alt="{{favorito.title}}"
      />
      <div class="card-body">
        <h5 class="card-title">{{favorito.title}}</h5>
        <p class="card-text">{{favorito.description}}</p>
        </div>
  </div>
  {%endfor%}
</div>
<a class="btn-cadastro" href="{{url_for('cadfavoritos')}}">Inserir Favoritos</a>
<div class="streaming-container">
  <h2>Lista de Streaming</h2>
  <hr />
  <ul>
    {%for stream in streaming%}
    <li>{{stream}}</li>
    {%endfor%}
  </ul>
  <h3>Adicionar novos Streamings a sua lista:</h3>
  <form action="{{url_for('favoritos')}}" method="POST">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="streaming"
        name="streaming"
        placeholder="Nome do Streaming"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</div>
{%endblock content%}