{% extends 'base.html' %} {% block content %}

<div class="container-fluid  p-5 text-center">
  <h1 class="titulo-pagina">Todos os Filmes</h1>
  <div class="movie-container">
    {% for movie in moviesjson %}
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image p-2">
                <img
                  class="capa"
                  src="{{ movie.image }}"
                  alt="{{movie.title}}"
                />
              </figure>
            </div>
            <div class="media-content">
              <div class="title-container">
                <p class="title">{{ movie.title }}</p>
                <p class="subtitle">{{ movie.original_title }}</p>
              </div>
              <div class="descricao-container">
                <p class="descricao">{{ movie.description  }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="{{url_for('movie', id=movie.id)}}" class="card-footer-item">Detalhes</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
